<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
		<div class="row">
			<div class="intro col-12">
        <h1>Forget Me Not</h1>
				<div>
					<div class="border1"></div>
			</div>
		</div>

		<div class="row">
			<div class="helpText col-12">
				<p id="first">Enter your really important jobs in the box below and hit the add button</p>
        <p id="second">When you finally get around to completing the task, click the item to mark it as complete.</p>
				<p id="third">Click the "X" to remove the item from your list.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<input id="userInput" type="text" placeholder="Don't forget me..." maxlength="27">
				<button id="enter"><i></i>Add</button>
			</div>
		</div>

		<!-- Empty List -->
		<div class="row">
			<div class="listItems col-12">
				<ul class="col-12 offset-0 col-sm-8 offset-sm-2">
				</ul>
			</div>
		</div>

	</div>
<script src="/scripts/app.js"></script>
</body>
</html>
